
# Either set the first one to use Lightstep's SaaS or the second set to use 
# a local collector:
# 1) Use Lightstep's SaaS
#export OTEL_EXPORTER_OTLP_HEADERS="lightstep-access-token=YOUR-ACCESS-TOKEN-URI-ENCODED-HERE"
# 2) Use a local OTel collector connected to Google Cloud Monitoring
#export SERVICE_ACCOUNT_CREDS=FILE_NAME_CONTAINING_SERVICE_ACCOUNT_JSON
#export COLLECTOR_VERSION=0.116.1

# Set this to the numeric ID of your sensor
#export PURPLE_AIR_SENSOR_ID="YOUR-SENSOR-ID"

# Either set the first one if you want to scrape PurpleAir's API or the
# second two if are running on the same network as your device and want
# to scrape it directly:
# 1) Use PurpleAir's SaaS API
#export PURPLE_AIR_API_KEY="YOUR-READ-API-KEY"
# 2) Use your device's local API
#export PURPLE_AIR_HOST_NAME="YOUR-DEVICE-HOST-NAME"
#export PURPLE_AIR_SENSOR_NAME="ANY-NAME-FOR-YOUR-DEVICE"
